# Variables compartidas
SERVER_PORT=8080

# Base de datos
DB_URL=jdbc:oracle:thin:@REEMPLAZAR
DB_USERNAME=REEMPLAZAR
DB_PASSWORD=REEMPLAZAR
ORACLE_WALLET_PATH=/app/wallet

# JWT
JWT_ISSUER_URI=https://REEMPLAZAR
JWT_JWK_SET_URI=https://REEMPLAZAR/discovery/v2.0/keys
JWT_AUDIENCE=api://REEMPLAZAR

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_QUEUE=eventos-academicos-queue
RABBITMQ_ERROR_QUEUE=eventos-academicos-error-queue
RABBITMQ_EXCHANGE=eventos-academicos-exchange
RABBITMQ_ROUTING_KEY=evento.academico
RABBITMQ_ERROR_ROUTING_KEY=evento.academico.error

# AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=REEMPLAZAR
AWS_SECRET_ACCESS_KEY=REEMPLAZAR
AWS_SESSION_TOKEN=REEMPLAZAR
AWS_S3_BUCKET_NAME=REEMPLAZAR

# Archivos locales y EFS
RESUMENES_PATH=/app/efs/resumenes
CONTENIDOS_EFS_PATH=/app/efs/contenidos

# Integracion BFF -> consumidor
EVENTOS_CONSUMIDOR_URL=http://ms-eventos-academicos-consumidor:8081
